.wrapper {
  margin: 15px auto;
  max-width: 1100px;
  padding:0;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  /* max-width: 475px; */
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  text-align: center;
  vertical-align: top;
}
.table-calendar th{
  color:#1D2F6F !important;
  font-weight:500 !important;
}
.date-picker.selected {
  font-weight: bold;
}

.date-picker.selected span {
  /* border-bottom: 2px solid currentColor; */
   border-style:solid;
   border-color:#1D2F6F;
   padding-left:4px;
   padding-right:4px;
   border-radius:50%;
}


#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}


.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}